/* 
1. positioning
2. box model
3. typography
4. visuals
5. others
https://www.figma.com/proto/sMmlQaZldfDcLERYYWe6h4/Bata-Bit?node-id=44%3A594&scaling=scale-down
*/

/* Variable control */
:root{
    /* Colors */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-one:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
/* Control html */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/* Contro header */
header{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}
.header--title-container .header--button{
    width: 229px;
    height: 50px;
    position: absolute;
    left: calc(50% - 118px);
    top:270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    background-color: var(--off-white);
    /* sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border:none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../assets/icons/down-arrow.svg);
}
/* Control main */
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/* Section One */

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #E5E5E5;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height:200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(../assets/img/Bitcoin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* styles section of tables */

.main-currency-table , .main-secondary-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

}

.main-currency-table .currency-table--title,.secondary-table--title {

    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-left: 20px;

}
.currrency-table--container ,.secondary-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}
.currency-table--container table, .secondary-table-container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td, .secondary-table-container td{
    width:50%;
    height: 39px;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height:1.9rem ;
    color: var(--grey);
    background-color: var(--off-white);
}

.currency-table--container .table__top-left ,.secondary-table-container .table__top-left{
    border-radius:10px 0 0 0 ;

}

.currency-table--container .table__top-right, .secondary-table-container .table__top-right{
    border-radius: 0 10px 0 0;
}

.currency-table--container .table__bottom-left, .secondary-table-container .table__bottom-left{
    border-radius: 0 0 0 10px;
}
.currency-table--container .table__bottom-right, .secondary-table-container .table__bottom-right{
    border-radius: 0 0 10px 0;
}

.currency-table--container .table__right, .secondary-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: 173px;
    height: 31px;
    background-color: var(--soft-orange);
    margin: 0 auto;
    margin-top: 18px;
    padding: 8px;  
    border-radius: 8px; 
    margin-bottom: 20px;
}

.currency-table--date p{
    font-size: 1.2rem ;
    font-weight: 300;
    line-height: 1.5rem ;
    color: var(--warm-black-one);
}
/* own styles of the second table */
.secondary-table__color{
    color: var(--secondary-blue);
    margin-left: 70px;
}
.currency-table__color{
    background-color: var(--soft-blue);
    margin-bottom: 10px;
}
/* section two */
.main-product-detail{
    position: relative;
    width: 100%;
    min-height: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(../assets/icons/batata.svg);

}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* target */
.producto-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 16px auto;
    padding: 15px;
    background-color: var(--warm-black-one);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
}
.producto-detail__imagen {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Embed image in span */
.producto-detail__clock{
    background-image: url(../assets/icons/clock.svg);
}
.producto-detail__eye{
    background-image: url(../assets/icons/eye.svg);
}
.producto-detail__diner{
    background-image: url(../assets/icons/dollar-sign.svg);
}
.producto-detail__check{
    background-image: url(../assets/icons/check-circle.svg);
}
.producto--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.prduct--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2{
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}